mixin content()
    +b.content
        +b.block.--wrap
            +b.block--gray.--half.--desktop3.--order-2
                +e.header Наши сотрудники
            +b.block--gray.--half.--desktop3.--order-2
                +e.header Просветляет понимающий тест
            +b.block--gray.--fill.--desktop1
                +e.header Конформизм
            +b.block.--half.--intro.--desktop3
                +e.header Интроекция
            +b.block.--half.--person.--desktop3
                +e.header Наши сотрудники 
        +b.block.--wrap.--first.--hero    
            +b.block.--big.--darkgray.--desktop_align_top
                +b.block.--scroll      
                    +b.block--darkgray
                        +e.header.--scroll.--big_white Гений непредвзято понимает под собой конфликт. Закон внешнего мира, очевидно, реально подчеркивает аксиоматичный здравый смысл. Культ джайнизма включает в себя поклонение Махавире и другим тиртханкарам, поэтому закон исключённого третьего индуцирует изоморфный ротор.
            +b.block.--small      
                +b.block--darkgray.--third
                    +e.header.--white Чувство однократно
                +b.block--darkgray.--third
                    +e.header.--white Морено
        +b.block.--wrap.--user.--first             
            +b.block.--small      
                +b.block--green.--third
                    +e.header Понятие модернизации понимает механизм власти
                +b.block--green.--third.--boat
                    +e.header.--white Наши сотрудники
            +b.block.--big.--green.--more.--user 
                    +b.user
                        +e.details
                            +e.left_col.first_name Фамилия
                            +e.border
                            +e.right_col.first_name_data Мамай
                        +e.details
                            +e.left_col.last_name Имя
                            +e.border
                            +e.right_col.last_name_data  Станиславаленина Владимировна
                        +e.details
                            +e.left_col.nomer Номер полиса выдан заведомо ложный
                            +e.border
                            +e.right_col.nomer_data 01354879 
                        +e.details
                            +e.left_col.date Дата рождения
                            +e.border
                            +e.right_col.date_data 01.12.1976
                        +e.details
                            +e.left_col.phone Телефон
                            +e.border
                            +e.right_col.phone_data +79254218069                                                                                             
        +b.block.--wrap                       
            +b.block--peach.--fill.--desktop1.--order1
                +e.header Однако                
            +b.block--peach.--half.--desktop3.--order2
                +e.header Точка перегиба
            +b.block--purple.--half.--desktop3.--order1
                +e.header Длина вектора
            +b.block--peach.--half.--desktop3.--order-2
                +e.header Лидерство
            +b.block--red.--half.--desktop3.--order2
                +e.header Невероятный гений